In [6]:
cd ..

/Users/odatakuma/cmu/FleetAI

In [7]:
geohash_table = pd.read_csv('engine/data/zones.csv', index_col='geohash')
geohash_table.head()

,lat,lon,taxi_zone,road_density,intxn_density,latest_demand,x,y
geohash,,,,,,,,
dr5qgxx,40.603358,-74.015682,10,56,36,0,6,0
dr5qgxy,40.604832,-74.017029,10,43,8,0,6,1
dr5qgxz,40.604637,-74.015335,10,22,0,0,6,1
dr5qgz7,40.602178,-74.010322,10,28,9,0,7,0
dr5qgz8,40.603474,-74.014180,10,59,14,0,6,0

In [85]:
lat0 = geohash_table.lat.min()
lon0 = geohash_table.lon.min()
print lat0, lon0

40.6004334225 -74.0406693003

In [109]:
import Geohash

lat0 = 40.6
lon0 = -74.049
Nx = 219
Ny = 219
dx = 0.3/(Nx-1)
dy = 0.3/(Ny-1)
# g = set([])
num_g = 7
g2xy = {}
for x in range(Nx):
    for y in range(Ny):
        g = Geohash.encode(lat0+y*dy, lon0+x*dx, 7)
        g2xy[g] = (x/num_g, y/num_g)
#         g.add(Geohash.encode(lat0+y*dy, lon0+x*dx, 7))
print x/num_g, y/num_g

31 31

In [110]:
geohash_table[['x', 'y']] = [g2xy[g] for g in geohash_table.index]

In [111]:
print len(geohash_table.x.unique())
print len(geohash_table.y.unique())

32
32

In [112]:
geohash_table.to_csv('engine/data/zones.csv')

In [84]:
max_move=3
action_space = [(x, y) for x in range(-max_move, max_move+1) for y in range(-max_move, max_move+1)
                             if x**2+y**2 <= max_move**2 and (x != 0 or y != 0)]
len(action_space)

28